@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Silkscreen", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.Orbitron{
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.logo{
    width:500px;
}

.btn {
    /* Clean style */
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    background: none;
    padding: 0;
    color: var(--button-text-color);
    cursor: pointer;
    width: 100%;
    background-color: #090019;
    /* Clean style */
    
    --button-text-color: var(--background-color);
    --button-text-color-hover: var(--button-background-color);
    --border-color: #7D8082;
    --button-background-color: #ece8e1;
    --highlight-color: #ff4655;
    --button-inner-border-color: transparent;
    --button-bits-color: var(--background-color);
    --button-bits-color-hover: var(--button-background-color);
    
    position: relative;
    padding: 8px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    transition: all .15s ease;
}
  
.btn::before,
.btn::after {
    content: '';
    display: block;
    position: absolute;
    right: 0; left: 0;
    height: calc(50% - 5px);
    border: 1px solid var(--border-color);
    transition: all .15s ease;
}
  
.btn::before {
    top: 0;
    border-bottom-width: 0;
}
  
.btn::after {
    bottom: 0;
    border-top-width: 0;
}
  
.btn:active,
.btn:focus {
    outline: none;
}
  
.btn:active::before,
.btn:active::after {
    right: 3px;
    left: 3px;
}
  
.btn:active::before {
    top: 3px;
}
  
.btn:active::after {
    bottom: 3px;
}
  
.btn__inner {
    position: relative;
    display: block;
    padding: 20px 30px;
    background-color: var(--button-background-color);
    overflow: hidden;
    box-shadow: inset 0px 0px 0px 1px var(--button-inner-border-color);
}
  
.btn__inner::before {
    content: '';
    display: block;
    position: absolute;
    top: 0; left: 0;
    width: 2px;
    height: 2px;
    background-color: var(--button-bits-color);
}
  
.btn__inner::after {
    content: '';
    display: block;
    position: absolute;
    right: 0; bottom: 0;
    width: 4px;
    height: 4px;
    background-color: var(--button-bits-color);
    transition: all .2s ease;
}
  
.btn__slide {
    display: block;
    position: absolute;
    top: 0; bottom: -1px; left: -8px;
    width: 0;
    background-color: var(--highlight-color);
    transform: skew(-15deg);
    transition: all .2s ease;
}
  
.btn__content {
    position: relative;
}
  
.btn:hover {
    color: var(--button-text-color-hover);
}
  
.btn:hover .btn__slide {
    width: calc(100% + 15px);
}
  
.btn:hover .btn__inner::after {
    background-color: var(--button-bits-color-hover);
}

.btn--light {
    --button-background-color: var(--background-color);
    --button-text-color: var(--highlight-color);
    --button-inner-border-color: var(--highlight-color);
    --button-text-color-hover: #ece8e1;
    --button-bits-color-hover: #ece8e1;
}
 
body{
    width: 100vw;
    overflow-x: hidden;
}

.bg_bark{
    background: #090019;
}

.bg_warning{
    background: #ff4655;
}

.text_justify{
    text-align: justify;
}

#hero{
    position: relative;
    background: url('gamingEvent/1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#teaser>div>iframe{
    margin-left: auto;
    margin-right: auto;
    display: block;
}


#game {
    margin-top: -2%;
    position: relative;
    width: 100vw;
    height: 100vh;
    box-shadow: 0 3px 10px rgba(0,0,0,0.3);
}
  
.item {
    width: 200px;
    height: 300px;
    list-style-type: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    box-shadow: 0 20px 30px rgba(255,255,255,0.3) inset;
    transition: transform 0.1s, left 0.75s, top 0.75s, width 0.75s, height 0.75s;
  
    &:nth-child(1), &:nth-child(2) {
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      transform: none;
      border-radius: 0;
      box-shadow: none;
      opacity: 1;
    }
  
    &:nth-child(3) { left: 50%; }
    &:nth-child(4) { left: calc(50% + 220px); }
    &:nth-child(5) { left: calc(50% + 440px); }
    &:nth-child(6) { left: calc(50% + 660px); opacity: 0; }
    &:nth-child(7) { left: calc(50% + 660px); opacity: 0; }
}
  
.content {
    width: min(30vw,500px);
    position: absolute;
    top: 50%;
    left: 3rem;
    transform: translateY(-50%);
    font-style: normal;
    /* font: 500 0.85rem Orbitron,sans-serif; */
    color: white;
    text-shadow: 0 3px 8px rgba(0,0,0,0.5);
    opacity: 0;
    display: none;
  
    & .title {
        font-family: "Orbitron", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
        font-size: 4rem;
    }
  
    & .description {
      line-height: 1.7;
      margin: 1rem 0 1.5rem;
      font-size: 2rem;
    }
  
    & button {
      width: fit-content;
      background-color: rgba(0,0,0,0.1);
      color: white;
      border: 2px solid white;
      border-radius: 0.25rem;
      padding: 0.75rem;
      cursor: pointer;
    }
}
  
.item:nth-of-type(2) .content {
    display: block;
    animation: show 0.75s ease-in-out 0.3s forwards;
}
  
@keyframes show {
    0% {
      filter: blur(5px);
      transform: translateY(calc(-50% + 75px));
    }
    100% {
      opacity: 1;
      filter: blur(0);
    }
}
  
.nav_btn {
    position: absolute;
    bottom: 0rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
    user-select: none;
    
    & .btn_nav {
      background-color: rgba(255,255,255,0.5);
      color: rgba(0,0,0,0.7);
      border: 2px solid rgba(0,0,0,0.6);
      margin: 0 0.25rem;
      padding: 0.75rem;
      border-radius: 50%;
      cursor: pointer;
  
      &:hover {
        background-color: rgba(255,255,255,0.3);
      }
    }
}

.nav_btn>.btn{
    width: 300px;
}

.slider {
    transition: transform 0.5s ease-in-out; /* Adjust duration as needed */
}

#sponsor{
    position: relative;
    background: url('gamingEvent//Background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.display_1{
    font-size: 120px;
}
  
@media (width > 650px) and (width < 900px) {
    .content {
      & .title        { font-size: 1rem; }
      & .description  { font-size: 0.7rem; }
      & button        { font-size: 0.7rem; }
    }
    .item {
      width: 160px;
      height: 270px;
  
      &:nth-child(3) { left: 50%; }
      &:nth-child(4) { left: calc(50% + 170px); }
      &:nth-child(5) { left: calc(50% + 340px); }
      &:nth-child(6) { left: calc(50% + 510px); opacity: 0; }
      &:nth-child(7) { left: calc(50% + 510px); opacity: 0; }
    }
}
  
@media (width < 650px) {
    .content {
      & .title        { font-size: 1.9rem; margin-top:30%; }
      & .description  { font-size: 1.65rem; }
      & button        { font-size: 0.7rem; }
    }
    .item {
      width: 130px;
      height: 220px;
        top: 55%;
  
      &:nth-child(3) { left: 80%; }
      &:nth-child(4) { left: calc(80% + 140px); }
      &:nth-child(5) { left: calc(80% + 280px); }
      &:nth-child(6) { left: calc(80% + 420px); opacity: 0; }
      &:nth-child(7) { left: calc(80% + 420px); opacity: 0; }
    }
}

.teaser{
    width: 80%;
    height: 600px;
}

.moble_game_logo{
    display: block;
}

.map{
    width: 400px;
    height: 200px;
}

@media screen and (max-width: 480px) {
    .logo{
        width:300px;
    }

    .display_1{
        font-size: 30px;
    }

    .teaser{
        width: 90%;
        height: 200px;
    }

    .moble_game_logo{
        display: none;
    }

    .map{
        width: 100%;
    }

    #game {
        margin-top: -4%;
        overflow-x: hidden;
    }

    .content{
        top: 20%;
        left: 1rem;
        width: min(40vh, 500px);
    }

    .content>a{
        width: 200px !important;
    }

}
